@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/mulish-v13-latin-300.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/mulish-v13-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/mulish-v13-latin-700.woff2")
    format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

:root {
  --primary-background: #f8f8f8;
  --text-primary: #fefefe;
  --color-primary: #6200ee;

  --my-vars-palette-primary-main: var(--color-primary) !important;
  --my-vars-palette-primary-light: #42a5f5;
  --my-vars-palette-primary-dark: #8133f1 !important;
  --my-vars-palette-primary-contrastText: #fff;
}
